---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getCollection } from "astro:content";
import HeroPost from "../components/HeroPost.astro";

const posts = await getCollection("blog");
const lastPost = posts[posts.length - 1];
const urlImagen ="https://res.cloudinary.com/dleem7osr/image/upload/LogoArxStar_r7l2ma.webp"
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={{ src: urlImagen , format: "webp" , width: 800, height: 600}} />
  </head>
  <body class="bg-black min-h-screen flex flex-col justify-between">
    <Header />
    <main class="max-w-7xl mx-auto py-9">
      <section class="">
        <ul class="grid grid-cols-1 md:grid-cols-5 gap-9 mx-4">
          {
            lastPost && (
              <li class="md:col-span-3 md:row-span-1">
                <HeroPost
                  title={lastPost.data.title}
                  imageUrl={lastPost.data.heroImage}
                  date={lastPost.data.pubDate}
                  url={`/blog/${lastPost.id}/`}
                />
              </li>
            )
          }

          {
            [...posts].slice(0, -1).reverse().map((post) => (
              <li class="md:col-span-2 md:row-span-1" >
                <HeroPost
                  title={post.data.title}
                  imageUrl={post.data.heroImage}
                  date={post.data.pubDate}
                  url={`/blog/${post.id}/`}
                />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
