---
interface Props {
  title: string;
  imageUrl: unknown;
  date: Date;
  url: string;
}

import { Image } from "astro:assets";
import FormattedDate from "./FormattedDate.astro";
const { title, imageUrl, date, url } = Astro.props;
---

<a
  href={url}
  class="group w-full max-w-7xl mx-auto mb-16 flex flex-col justify-center items-center md:items-start md:justify-start"
>
  <div
    class="relative w-full aspect-video md:aspect-21/13 overflow-hidden rounded-2xl border border-white/10 shadow-sm transition-all duration-500"
  >
    {/* Imagen con Zoom Suave */}
    <Image
      src={imageUrl as string}
      alt={title}
      width={1020}
      height={674}
      class="w-full h-full object-top transition-transform duration-700 ease-out group-hover:scale-105  group-hover:saturate-150"
      loading="lazy"
    />

    <div
      class="absolute inset-0 bg-black/0 group-hover:bg-black/10 transition-colors duration-500"
    >
    </div>
  </div>

  <div class="mt-6 md:mt-8 space-y-3 px-1 md:px-0 ">
    {/* Título Masivo */}
    <h2
      class="text-3xl md:text-4xl font-black tracking-tighter  text-white leading-[1.1] transition-colors duration-300 group-hover:text-sky-400"
    >
      {title}
    </h2>

    {/* Meta Data (Fecha Tecnológica) */}
    <div class="flex items-center gap-2">
      <div class="h-px w-8 bg-slate-700"></div>
      <time
        datetime={date.toISOString()}
        class="font-mono text-sm text-slate-400 uppercase tracking-wider"
      >
        <FormattedDate date={date} />
      </time>
    </div>
  </div>
</a>
